body {
    display: grid;
    justify-content: center;
}

button, input, span, h1 {
    font-family: 'Roboto', sans-serif;
}

button {
    border: 0;
}

input:hover, input:focus {
    border: none;
    outline-width: 0;
    border-inline-end-width: 0;
}

button:hover {
    cursor: pointer;
}

.section {
    padding: 1em;
}

.calculator {
    width: 400px;
}

.calc-head {
    width: 400px;
    height: 85px;
    display: grid;
    padding: 2px;
    border-radius: 10px;
    border: 1px #e6e6e6 solid;
    margin-bottom: 1em;
}

.calc-head:hover {
    -moz-box-shadow: inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow: inset 0 0 2px #000000;
}

.calc-head:focus {
    outline-width: 0;
    border-color: dodgerblue;
    border-inline-end-width: 1px;
}

.calc-head-top {
    margin: 0.5em 0 0 0.75em;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    color: #4e4e4e;
}

.calc-head-top button{
    justify-self: start;
    width: 1em;
    height: 1em;
    background-color: white;
    cursor: pointer;
}

.calc-head-top li {
    text-decoration: none;
}

.calc-head-top li:hover {
    color: #333;
}

.calc-head-top .fa.fa-history:visited {
    color: #333;
}



.calc-head-top .result {
    justify-self: end;
}

.calc-history {
    z-index: 2;
    background-color: white;
    width: auto;
    display: grid;
    max-width: 30vh;
    min-width: 10vh;
    min-height: 50px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    grid-template-columns: 100%;
    grid-template-rows: 10px;
    position: absolute;
    grid-gap: 0.5em;
    overflow-x: hidden;
}

.calc-history button{
    z-index: 10;
}

.history{
    display: grid;
    grid-gap: 0.25em;
}

.history-card {
    display: inline-flex;
    color: #333;
    padding: 0.5em;
}

.history-card .tag {
    padding: 3px 5px;
    height: 20px;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.history-card span {
    margin: 0 1em;
    font-weight: bold;
    color: #4e4e4e;
}

.calculator input {
    border-radius: 10px;
    border: none;
    color: transparent;
    text-shadow: 0 0 0 #4e4e4e;
    direction: left;
    text-align: right;
    width: 100%;
    font-size: 2em;
    float: bottom;
}

.calc-body {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 50px);
    grid-auto-flow: column;
}

.calc-body button {
    color: #333;
    display: flex;
    border-radius: 5px;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.calc-body button.special {
    background-color: #c7c7c7;
    font-weight: bold;
}

.calc-body button:hover, .calc-body button.special:hover {
    background-color: #a1a1a1;
    color: white;
}

.calc-body button.plus {
    grid-row: 4/6;
}

button.equals {
    background-color: #5ea9ff;
    color: #e6e6e6;
    font-weight: bold;
}

button.equals:hover {
    background-color: #4e8dd4;
    color: #e6e6e6;
}

.hidden {
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .calculator {
        width: 80vw;
    }
    .calc-head {
        width: 80vw;
    }
    .calc-body {
        grid-template-rows: repeat(5, 75px);
    }
    .calc-body button {
        font-size: 2em;
        padding: 0;
    }
}