.calculator {
    width: 443px;
}

.calculator span input{
    border-radius: 10px;
    border: 1px #e6e6e6 solid;
    color: transparent;
    text-shadow: 0 0 0 #4e4e4e;
    height: 5em;
    direction: rtl;
    width: 100%;
    margin-bottom: 1em;
    font-size: 2em;
}

.calculator span input:focus {
    outline-width: 0;
    border-color: dodgerblue;
    border-inline-end-width: 1px;
}

.calculator span input:hover {
    -moz-box-shadow: inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow: inset 0 0 2px #000000;
}

.calc-body {
    display: grid;
    column-gap: 0.5em;
    row-gap: 0.5em;
    grid-template-columns: repeat(4);
    grid-template-rows: 50px 50px 50px 50px;
    grid-auto-flow: column;
}

.calc-body a {
    color: #444444;
    display: flex;
    border-radius: 5px;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: center;
}

.calc-body a:hover{
    background-color: black;
    opacity: 0.2;
    color: white;
}